.form {
  &__label--hidden {
    display: none;
  }

  &__input {
    width: 95%;
    margin: 0 auto $gutter-m;
    display: block;
    padding: $gutter-sm;
    border: none;
    border-bottom: 5px solid $color-primary;
  }

  .btn--default {
    width: 100%;
  }
}
