// **********************************************
// _grid.scss
// styles related to the grid system and
// main container.
// major grid styles have been added here for you
// but additional styling may be needed
// **********************************************

.container{
  padding: 0 $gutter-sm;
    @include  mq('m') {
      max-width: 960px;
      margin: auto;
    }
}

// grid base class
.grid {

  // .grid__row
  &__row {
    padding: 1em 0;
    @include flexy($dir:column);

    @include  mq('m') {
      @include flexy($dir:row);
    }
  }

  // .grid__col
  &__col {

    // create grid columns dynamically
    // loop through each column size
    @for $i from 1 through 12 {

      // concatenate CSS selector, ie when $i = 1,
      // selector would be .grid__col--1
      &--#{$i} {

        // base styles applied to all grid columns
        // NOTE: could be converted to a placeholder, along with margin
        // from the  media query
        margin-top: $gutter-sm;
        flex-basis: 100%;

        @include  mq('m') {

          // base stlyes applied to all grid columns
          margin-top: 0;

          // make column width a percentage of the column number / total columns
          flex-basis: #{$i / 12 * 100 + "%"} ;
        }
      }
    }
  }
}

// targets all elements with classes that begin with grid__col
[class^=grid__col] {
  // grid__col + grid__col, targets two sibling columns
  & + & {

    @include  mq('m') {
      margin-left: $gutter-sm;
    }
  }

}

// Grid theme colors

@each $key, $color in $grid-colors {
  .theme__colors.grid__col--#{$key} {
    background-color: #{$color};
    border-radius: 5px;
    padding:5px;
  }
}
.theme__colors{
  &.centered{
    @include  mq('m') {
    margin: 0 auto;
  }
  }
  @include  mq('m') {
    text-align: center;
  }
}
