.img {
  &--logo {
    @extend %img;
    margin-bottom: $gutter-m;
  }
  &--frame {
    @extend %img;
    border:1px solid #ccc;
    padding: $gutter-sm;
    width: 100%;
    max-width: 410px;
  }
  &--avatar {
    @extend %img;
    margin: $gutter-m auto;
  }
}
