.nav{
  list-style-type: none;
  padding:0;
  margin: 0;
  @include flexy($dir:column);
  &__item{
    a{
      color: $font-color-primary;
      display: block;
      padding: 10px 15px;
      text-align: center;
      border-radius: 5px;
    }
    a:hover,
    &:first-child a{
       color:white;
       text-decoration: none;
       background-color: $color-primary;
    }
  }
  @include  mq('m') {
    @include flexy($dir:row,$just:center);
    margin: 1.4em 0;
  }
}
