.nav{
  list-style-type: none;
  padding:0;
  margin: 0;
  &__item{
    display: flex;
    flex-direction: column;
    a{
      color: $font-color-primary;
      display: block;
      padding: 15px;
      text-align: center;
    }
    a:hover{
       color:white;
       text-decoration: none;
       background-color: $green-light;
    }
  }
}
