.headline {
  &--primary {
    color: $color-primary;
    font-size: 2em;
    font-weight: bold;
    margin-left: $gutter-sm;
  }
  &--secondary {
    font-weight: normal;
  }
}

blockquote{
  border-left: 6px solid $color-primary;
  border-radius: 5px;
  margin-left: $gutter-m;
  padding-left: $gutter-m;
  font-style: italic;
  font-size:1.2em;
}
