*{
  font-family: $font-stack-primary;
  box-sizing: border-box;
}

ul{
  list-style-type: none;
  padding-left: 0;
}

p {
  line-height: 1.5em;
  text-align: justify;
  font-size: 1.1em;
}

.container{
  color: $font-color-primary;
  a {
    text-decoration: none;
    color: $color-secondary;
    &:hover {
      text-decoration: underline;
    }
  }
}
